body{
    background-color: lightgray;
}

b{
    font-size: 45px;
    text-align: center;
    display: block;
}

.container1{
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    border: solid 4px blue;
}

h1{
    color: darkgreen;
    font-size: 150px;
}

.container1 img{
    width: 400px;
}

.container2 img{
    width: 400px;
    height: 550px;
}

.textos1 p{
    color: indigo;
    font-size: 30px;
    text-align: center;
}

.container2{
    display: flex;
    justify-content: space-around;
    margin: 60px;
    align-content: center;
    flex-wrap: wrap;
}

iframe{
    width: 500px;
    height: 500px;
}

.container3{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container4{
    background-color: lightskyblue;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}

.container4 p{
    color: darkred;
    font-size: 25px;
}

.container4 p:hover{
    text-decoration: underline;
}

.finalzinho{
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.finalzinho img{
    width: 200px;
    height: 200px;
    margin: 20px;
}

.finalzinho p{
    font-size: 30px;
    align-self: center;
}

.containercontatos{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#c1{
    background-color: yellow;
}

#c2{
    flex-direction: column;
    background-color: yellow;
}