body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
}

img{
    height: 200px;
    width: auto;
}

#skibidi{
    display: flex;
    flex-direction: column;
    align-items: center;
}